<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--框架必需start-->
<script type="text/javascript" src="../../libs/js/jquery.js"></script>
<script type="text/javascript" src="../../libs/js/framework.js"></script>
<link href="../../libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
<link rel="stylesheet" type="text/css" id="customSkin"/>
<!--框架必需end-->

<!-- 树start-->
<script type="text/javascript" src="../../libs/js/tree/ztree/ztree.js"></script>
<link href="../../libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
	var setting = {
		callback: {
			onClick: onClick
		}
	};
	
	
	var zNodes =[
		
		        { id:3000, parentId:0, name:"计划"},
		{ id:001, parentId:3000, name:"计划管理",url:"/XinTianDi/plan/center.action", target:"frmright"},
		{ id:002, parentId:3000, name:"报表",url:"/XinTianDi/plan/reportCenter.action", target:"frmright"},
	
	            { id:2999, parentId:0, name:"出库"},
		{ id:101, parentId:2999, name:"出库管理",url:"/XinTianDi/classes/center.action", target:"frmright"},
		{ id:102, parentId:2999, name:"出库报表",url:"/XinTianDi/classes/center.action", target:"frmright"},
		
	            { id:3001, parentId:0, name:"数据"},
		{ id:201, parentId:3001, name:"客户信息",url:"/XinTianDi/cust/center.action", target:"frmright"},
		{ id:201, parentId:3001, name:"商品信息",url:"/XinTianDi/good/center.action", target:"frmright"},
		{ id:201, parentId:3001, name:"片区信息",url:"/XinTianDi/area/center.action", target:"frmright"}
	];
	
	function initComplete(){
		$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		//每次刷新时保持上次打开的
		showContent();
	}
	function showContent(){
		var treeNodeId=jQuery.jCookie('leftTreeNodeId');
		if(treeNodeId==false||treeNodeId=="false"){}
		else{
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			var node = zTree.getNodeByParam("id", treeNodeId);
			zTree.selectNode(node);
			if(node.url){
				//每次刷新时设置当前位置内容
				if(node.name=="当前位置"){
					top.positionType="normal";
					top.positionContent="当前位置："+node.getParentNode().name+">>"+node.name;
				}
				else{
					top.positionType="none";
				}
				top.frmright.location=node.url;
			}
		}
	}
		
	function onClick(e,treeId, treeNode){
		//单击展开
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.expandNode(treeNode);
		if(treeNode.vision){
			if(treeNode.vision=="trial"){
				top.Dialog.alert("抱歉，试用版不包含该功能！",null,null,null,1)
			}
		}
		
		
		//出现进度条
		if(treeNode.url!=null){
			showProgressBar();
		}
		
		//可以设置某些页面出现或者某些页面不出现当前位置组件
		if(treeNode.name=="当前位置"){
			//每次点击时设置当前位置内容
			top.positionContent="当前位置："+treeNode.getParentNode().name+">>"+treeNode.name;
			top.positionType="normal";
		}
		else{
			top.positionType="none";
		}
		
		//存储点击节点id
		jQuery.jCookie('leftTreeNodeId',treeNode.id.toString());
	}

	function  showAll(){
		var treeObj=$.fn.zTree.getZTreeObj("treeDemo");
		treeObj.expandAll(true);
	}
	function  hideAll(){
		var treeObj = $.fn.zTree.getZTreeObj("treeDemo")
		treeObj.expandAll(false);
	}
</script>
<!-- 树end -->
<style>
.ztree *{
	font-family:sans-serif!important;
}
</style>
</head>

<body leftFrame="true" style="background-color:#f1f8ff">
<div class="padding_top5 ali02">
	<a onclick="showAll()">全部展开</a>&nbsp;&nbsp;<a onclick="hideAll()">全部收缩</a>
	
</div>

<div id="scrollContent">

	<div>
		<ul id="treeDemo" class="ztree"></ul>
	</div>
		
</div>				
</body>
</html>